<section id="future-table">

    <div class="search-bar">


        <form action="">
            <input type="text" name="future-search">
        </form>


    </div>

    <div class="table-data">

        <div class="column-titles">
            <div class="name">
                <p>Name</p>
            </div>
            <div class="email">
                <p>Email</p>
            </div>
            <div class="dob">
                <p>DOB</p>
            </div>
            <div class="phone">
                <p>Phone</p>
            </div>
            <div class="move-in">
                <p>Move In Date</p>
            </div>
            <div class="move-out">
                <p>Move Out Date</p>
            </div>
        </div>


        <!-- Table rows -->
        <!-- For each future record, -->
            <!-- Create a row. -->


    </div>

</section>


<section id="future-form">

    <form action="">
        <div class="name">
            <p>Name</p>
            <input type="text" name="name">
        </div>
        <div class="email">
            <p>Email</p>
            <input type="text" name="email_address">
        </div>
        

        <div class="dob">
            <p>DOB</p>
            <input type="text" name="date_of_birth">
        </div>
        

        <div class="phone">
            <p>Phone</p>
            <input type="text" name="phone_number">
        </div>


        <div class="move-in">
            <p>Move In Date</p>
            <input type="text" name="move_in_date">
        </div>
        <div class="move-out">
            <p>Move Out Date</p>
            <input type="text" name="move_out_date">
        </div>


    </form>

</section>