.list-group-item {
  line-height: 2.5;
}



/* Future Page Styling */

#future-form {
  background: url("../template/img/bg-future-2.jpg") no-repeat center center;
  background-color: #f8f9fa;
}

#future-form > .container {
  width: 60%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#future-form h4 {
  
  font-size: 2.0em;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0px;
}

#future-form h5 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 1.0em;
  color: #ccc;
}

#future-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 380px;
}

#future-form form > div {
  width: 50%;
}

#future-form form > div > p {
  color: #ffffff;
}

#future-form form input {
  width: 80%;
  margin-bottom: 20px;
  height: 40px;
  padding: 10px;
  border: 0px;
}

#future-form .name {

}

#future-form .email {

}

#confirm-box {
  background-color: #aaaaaa;
  border-radius: 20px;
  color: #000000;
  margin-top: 20px;
  border: 0px;
  opacity: 0.8;
}

#confirm-box:hover {
  opacity: 1.0;
  background-color: #cccccc;
}

.confirmon-overlay {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.60);
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 150;
  display: none;
  }

  .confirmon-box {
  background-color: #007bff;
  color: #ddd;
  border: solid 1px #666666;
  box-shadow: 0px 1px 10px #222;
  padding: 20px 10px 35px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  z-index: 151;
  display: none;
  position: absolute;
  margin-left: -15%;
  width: 30%;
  left: 50%;
  top: 185px;
  }

  .confirmon-box button {
  margin: 10px 5px;
  padding: 5px 10px;
  text-align: center;
  background-color: #007bff;
  border: 1px solid #ddd;
  color: #ddd;
  font-weight: bold;
  }

  .confirmon-box button:hover {
  background-color: #00bbee;
  cursor: pointer;
  }

  .confirmon-button--no {
    display: none;
  }
  


/*
#future-table {

}

#future-table .search-bar {

}

#future-table .search-bar form {

}

#future-table .search-bar input {

}

#future-table .table-data {

}

#future-table .column-titles {

}

#future-table .column-titles p {

}

#future-table .column-titles .name {
  
}

#future-table .column-titles .email {

}

#future-table .column-titles .dob {

}

#future-table .column-titles .phone {

}

#future-table .column-titles .move-in {

}

#future-table .column-titles .move-out {

}
*/